body{
    background-image: url(./cool-background\ \(2\).png);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.btn{
    padding: 15px 35px;
    background: linear-gradient(to left, #4200fc , #f901fc);
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
}
.contanier{
    width: 100%;
    height: 100vh;
    background-image: url(/cool-background\ \(2\).png);
}
header nav{
    font-size: 15px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 20px;
    z-index: 100;
    position: relative;
}
header nav .logo{
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(to left, #4200fc , #f901fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header nav .nav-links a{
    color: #fff;
    margin-left: 50px;
    position: relative;
}
header nav .nav-links a::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(to left, #4200fc , #f901fc);
    transition: 0.3s;
}
header nav .nav-links a:hover::after{
    width: 100%;
}

.content{
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 15px;
}
.content span{
    background: linear-gradient(to left, #4200fc , #f901fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.content p{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-size: 20px;
}
.hero-img {
    padding-top: 15px;
    border: 6px solid #f901fc;
    background-color: #07021a;
    border-radius: 10px;
}
.hero-img img{
    width: 380px;
}

.soial-links{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    right: 20px;
    flex-direction: column;
    gap: 25px;
    text-align: center;
}
.soial-links a{
    color: #fff;
    font-size: 22px;
    transition: 0.4s;
}
.soial-links a:hover{
    transform: scale(1.4);
}
.soial-links span{
    color: #fff;
    font-weight: 500;
    transform: rotate(90deg);
    margin-bottom: 40px;
}
#email{
    color: rgb(176, 255, 96);
    font-size: 20px;
}
#contact{
    color: rgb(177, 177, 177);
    font-size: 20px;
}


.new_footer_area {
    
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
        text-align: center;

    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/






@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
        
    }
    
    .content{
        display: flex;
        flex-direction: column;
        gap: 70px;
        font-size: 3px;
        width: 20px;
        height: 20px;
        
    }

    .contanier{
        display: flex;
        flex-direction: column;
        
    }

    nav{
        font-size: 10px;
        display: flex;
    }

    h1{
        font: size 22px; ;
    }

    .hero-img{
        padding-top: 15px;
    border: 6px solid #f901fc;
    background-color: #07021a;
    border-radius: 10px;
    }

    .hero-img img{
        width: 310px;
    }

    .nav-links{
        display: flex;
        
      
    }

    .home-link{
        position: relative;
        right: 30px;
    }

    .projects-link{
        position:relative;
        right: 45px;

    }

    footer{
        display: none;
    }

  }